modules = ["nodejs-24", "python-3.11", "python3", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/pagoya-twilio-demo: web"

[[workflows.workflow]]
name = "artifacts/pagoya-twilio-demo: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21145 BASE_PATH=/pagoya-twilio-demo/ pnpm --filter @workspace/pagoya-twilio-demo run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0", "google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["dig"]

[userenv]

[userenv.development]
STRIPE_CLI_WEBHOOK_SECRET = "whsec_3800d8fef3e7262a031587973bc90f916d56f630710ea60f77d016ecd6a53bff"

[userenv.shared]
VITE_STRIPE_PUBLIC_KEY = "pk_test_51TKikCIIjPdZFNnfnSZfjNTautVdeKNlJIuDBXYOtEGs0ePYmtskHydzTOCsAJ7R9Qeeb0LJ5jr3RIAv1UzY4pH500B4H7hXWC"
ADMIN_WHATSAPP_NUMBER = "+17138052626"
VAPID_PUBLIC_KEY = "BMQQOTddJCP1z0I2-Qk8D0Prj_lHyPjvkO4E_AH0Np5sJ79jMGiOUjlnywcWFVBjSOZddlcT3Ekqgk9AySFJ0hA"
VAPID_PRIVATE_KEY = "05kjlEwo6qF1K4j_RzNZWUrVqsEGK5dY3hEbTjq1C00"
VAPID_EMAIL = "mailto:soporte@pagoyamx.com"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_SECURE = "false"
SMTP_USER = "lawrightmba@gmail.com"
ALERT_EMAIL = "lawrightmba@gmail.com"

[userenv.production]
PAULA_SENDING_ENABLED = "true"
