modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["dig"]

[userenv]

[userenv.development]
STRIPE_CLI_WEBHOOK_SECRET = "whsec_3800d8fef3e7262a031587973bc90f916d56f630710ea60f77d016ecd6a53bff"

[userenv.shared]
VITE_STRIPE_PUBLIC_KEY = "pk_test_51TKikCIIjPdZFNnfnSZfjNTautVdeKNlJIuDBXYOtEGs0ePYmtskHydzTOCsAJ7R9Qeeb0LJ5jr3RIAv1UzY4pH500B4H7hXWC"
CONEKTA_WEBHOOK_PUBLIC_KEY = "-----BEGIN PUBLIC KEY----- MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAospyhr6nO8bT3X3r3F1o l4pwg0aab4haaxMEJ9ZFXFoptQNq/rHpQZFK2W305Bgo7K/I7J78CpHwI75SnjTE x5TQ6teUQya1SiN7vA1ppIRGgPrryPC0ydEN4qw1JxIXDF2+tyP/X7+W6bDoH1z4 xEkkVlEbU39jGy42M51O+Fdoevo/RIrPmIlaxNelci7iSy9zDQTA/EcvvXwoR/5G ZymaMzFchAx3DpXoc2RJSgyH42f6/SdGCNOswd81qnXMNtda8MZBYS1hlRpzjXRe /z+nvxQ6vZKXu7ZH+/3YJZPbdDB9VgpCe1Xi/oggTN9GZQ0y7KpWmeHlpGs2Dh4Z gQIDAQAB -----END PUBLIC KEY-----"
